Välkommen till dag 1 av kodning!

In [1]:
number = 1
print(type(number))
#Printar vilken klass number har classen är 'int' vilket betyder heltal

<class 'int'>

In [7]:
decimal = 0.111111
print(type(decimal))
#Printar vilken klass decimal har. Klassen är float vilket betyder att den har decimaler.
print(type(round(decimal)))
print(round(decimal))
#Ifall vi roundar numret till ett heltal då blir det en int istället för float. 
#Vi kan ändra det ifall vi vill med hjälp round(decimal, 1-1000) där 1-1000 är hur många decimaler vi ska runda till
print(type(round(decimal, 2)))
print(round(decimal, 2))

<class 'float'>
<class 'int'>
0
<class 'float'>
0.11

Nu har vi gått igenom klasserna int och float nästa klass kommer att vara string
En string är en text som går att ändra till int ifall det är ett nummer som är stringen tex

In [10]:
number = "25"
print(type(number))
print(number)
print(type(int(number)))
#Det går dock inte att förvandla ett nummer ifall det är bokstäver istället
number2 =  "Twentyfive"
#print(int(number2)) gives -> ValueError: invalid literal for int() with base 10: 'Twentyfive'
print(number2)

<class 'str'>
25
<class 'int'>
Twentyfive

Fstring
---

In [11]:
name = "Johan"
f"Hello {name}"

'Hello Johan'